[submodule ".cursor/packs/shared"]
	path = .cursor/packs/shared
	url = https://github.com/xynova/cursor-packs.git
[submodule "providers/taxonomy"]
	path = providers/taxonomy
	url = https://github.com/behaviorengineering/taxonomy.git
[submodule "providers/strop"]
	path = providers/strop
	url = https://github.com/behaviorengineering/strop.git
